.inner {
  max-width: auto;
  /* min-width: 1024px; */
  margin: 0 auto;
}
/* 페이지별 영역 */
body {
  overflow-x: hidden;
  background-color: #8bcb47;
}
#wrap {
  width: 100%;
  height: 10rem;
  position: relative;
}
/*********************header****************************/
.nav_btn {
  display: none;
}
#header .inner {
  position: relative;
}

#header .header_top {
  width: calc(100% - 250px);
  float: right;
  text-align: right;
}
#header::after {
  content: "";
  display: block;
  clear: both;
}
#header #nav {
  position: relative;
  float: right;
  margin-top: 46px;
  left: 9rem;
}
.t_mn {
  color: #ffffff;
  text-align: center;
  border-radius: 20px;
}
.t_mn > li {
  letter-spacing: -3px;
}
#header #nav .depth1 > li {
  float: left;
  margin-left: 1.25rem;
  padding-left: 3.12rem;
  padding-bottom: 3.12rem;
  color: #000000;
}
#header #nav .depth1 > li > a {
  display: block;
  line-height: 40px;
  font-size: 1.31rem;
  font-weight: 100;
  color: #ffffff;
  font-family: "Noto Sans KR", cursive;
}
#header #nav .depth1 > li:hover ul {
  display: block;
}
#header #nav .depth1 ul {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 20px 0;
  position: absolute;
  left: 0;
  top: 50px;
  display: none;
  z-index: 99999;
}
#header #nav .depth1 ul li {
  background: url(../) no-repeat;
  display: inline-block;
  padding: 0 30px;
}
#header #nav .depth1 ul li:last-child {
  background: none;
}
/*********************header 끝****************************/
/* main시작 */
/* 파란배경시작 */
.blue {
  width: 100%;
  height: 150rem;
  background-color: #8bcb47;
}
.first_circle {
  width: 6.81rem;
  height: 6.81rem;
  background-color: #ffffff;
  border-radius: 10rem;
  position: absolute;
  top: 14rem;
  left: 81rem;
}
.second_circle {
  width: 5.93rem;
  height: 5.93rem;
  background-color: #ffffff;
  border-radius: 10rem;
  position: absolute;
  top: 45rem;
  left: 38.2rem;
}
.third_circle {
  width: 4.87rem;
  height: 4.87rem;
  background-color: #ffffff;
  border-radius: 10rem;
  position: absolute;
  top: 73.7rem;
  left: 82.6rem;
}
.six_circle {
  width: 6.81rem;
  height: 6.81rem;
  background-color: #ffffff;
  border-radius: 10rem;
  position: absolute;
  top: 143rem;
  left: 65rem;
}
.first_mini_circle {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #3da4d9;
  border: 5px solid #ffffff;
  border-radius: 2rem;
  position: absolute;
  top: 35.4rem;
  left: 54.7rem;
  z-index: 9;
}
.second_mini_circle {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #3da4d9;
  border: 5px solid #ffffff;
  border-radius: 2rem;
  position: absolute;
  top: 35.4rem;
  left: 86.7rem;
  z-index: 9;
}
.third_mini_circle {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #3da4d9;
  border: 5px solid #ffffff;
  border-radius: 2rem;
  position: absolute;
  top: 55rem;
  left: 66rem;
  z-index: 9;
}
.four_mini_circle {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #3da4d9;
  border: 5px solid #ffffff;
  border-radius: 2rem;
  position: absolute;
  top: 76rem;
  left: 46rem;
  z-index: 9;
}
.six_mini_circle {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #3da4d9;
  border: 5px solid #ffffff;
  border-radius: 2rem;
  position: absolute;
  top: 99.2rem;
  left: 37rem;
  z-index: 9;
}
.seven_mini_circle {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #3da4d9;
  border: 5px solid #ffffff;
  border-radius: 2rem;
  position: absolute;
  top: 91rem;
  left: 73.7rem;
  z-index: 9;
}
.eight_mini_circle {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #3da4d9;
  border: 5px solid #ffffff;
  border-radius: 2rem;
  position: absolute;
  top: 101.9rem;
  left: 84.6rem;
  z-index: 9;
}
.nine_mini_circle {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #3da4d9;
  border: 5px solid #ffffff;
  border-radius: 2rem;
  position: absolute;
  top: 118.7rem;
  left: 56.2rem;
  z-index: 9;
}
.ten_mini_circle {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #3da4d9;
  border: 5px solid #ffffff;
  border-radius: 2rem;
  position: absolute;
  top: 127.7rem;
  left: 36.5rem;
  z-index: 9;
}

.twelve_mini_circle {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #3da4d9;
  border: 5px solid #ffffff;
  border-radius: 2rem;
  position: absolute;
  top: 154.1rem;
  left: 44.5rem;
  z-index: 9;
}
.se_1 {
  position: absolute;
  left: 1.42rem;
  top: 1.9rem;
  z-index: 9;
  font-size: 1.9rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 900;
  color: #8bcb47;
}
.se_2 {
  position: absolute;
  left: 0.7rem;
  top: 1.5rem;
  z-index: 9;
  font-size: 2rem;
  font-family: "Noto Sans KR", cursive;
  color: #8bcb47;
  font-weight: 900;
}
.se_3 {
  position: absolute;
  left: 0.8rem;
  top: 1.3rem;
  z-index: 9;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  color: #8bcb47;
  font-weight: 900;
}
.sec_3 {
  position: absolute;
  top: 72.2rem;
  left: 67rem;
  color: #ffffff;
  text-align: right;
  font-size: 1.3rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.se_4 {
  position: absolute;
  left: 1.1rem;
  top: 1.7rem;
  z-index: 9;
  font-size: 2.2rem;
  font-family: "Noto Sans KR", cursive;
  color: #8bcb47;
  font-weight: 900;
}
.se_5 {
  position: absolute;
  left: 1.2rem;
  top: 1.9rem;
  z-index: 9;
  font-size: 2rem;
  font-family: "Noto Sans KR", cursive;
  color: #3da4d9;
  font-weight: 900;
}
.se_6 {
  position: absolute;
  left: 0.9rem;
  top: 1.5rem;
  z-index: 9;
  font-size: 1.9rem;
  font-family: "Noto Sans KR", cursive;
  color: #3da4d9;
  font-weight: 900;
}
.se_7 {
  position: absolute;
  left: 0.5rem;
  top: 1rem;
  z-index: 9;
  font-size: 1.7rem;
  font-family: "Noto Sans KR", cursive;
  color: #3da4d9;
  font-weight: 900;
}
.se_8 {
  position: absolute;
  left: 0.6rem;
  top: 1.4rem;
  z-index: 9;
  font-size: 2.1rem;
  font-family: "Noto Sans KR", cursive;
  color: #3da4d9;
  font-weight: 900;
}
.text_1 {
  position: absolute;
  top: 20.2rem;
  left: 74.1rem;
  text-align: right;
  color: #ffffff;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.first_img {
  cursor: pointer;
}
.first_img img {
  width: 6.5rem;
  position: absolute;
  top: 23.5rem;
  left: 74rem;
  z-index: 99;
}
.txt_2 {
  position: absolute;
  top: 29.7rem;
  left: 48.9rem;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
  text-align: right;
  color: #ffffff;
}
.text_2 {
  position: absolute;
  top: 32rem;
  left: 48.8rem;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  z-index: 99;
  cursor: pointer;
}
.text_3 {
  position: absolute;
  top: 44rem;
  left: 45.8rem;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
  color: #ffffff;
}
.second_img img {
  width: 7.2rem;
  position: absolute;
  top: 40rem;
  left: 57.2rem;
  cursor: pointer;
  z-index: 99;
}
.sec_2 {
  position: absolute;
  top: 43rem;
  left: 45.7rem;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
  color: #ffffff;
}
.txt_4 {
  position: absolute;
  top: 51.5rem;
  left: 68.4rem;
  font-size: 1.4rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
  color: #ffffff;
}
.text_4 {
  position: absolute;
  top: 53.5rem;
  left: 68.5rem;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  z-index: 99;
}
.text_5 {
  position: absolute;
  top: 74.1rem;
  left: 71rem;
  color: #ffffff;
  text-align: right;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.three_img img {
  width: 11rem;
  position: absolute;
  top: 62.4rem;
  left: 70.5rem;
  z-index: 99;
  cursor: pointer;
}
.text_6 {
  position: absolute;
  top: 73.3rem;
  left: 41.5rem;
  color: #ffffff;
  text-align: center;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.four_img img {
  width: 11.5rem;
  position: absolute;
  top: 61rem;
  left: 41.7rem;
  z-index: 99;
  cursor: pointer;
}
.txt_6 {
  position: absolute;
  top: 71rem;
  left: 40rem;
  color: #ffffff;
  text-align: right;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.text_8 {
  position: absolute;
  top: 98rem;
  left: 39.8rem;
  color: #ffffff;
  text-align: left;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.five_img img {
  width: 14rem;
  position: absolute;
  top: 83.9rem;
  left: 39.7rem;
  z-index: 99;
  cursor: pointer;
}
.txt_8 {
  position: absolute;
  top: 96rem;
  left: 39.8rem;
  color: #ffffff;
  text-align: left;
  font-size: 1.4rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.text_9 {
  position: absolute;
  top: 87.8rem;
  left: 72.9rem;
  color: #ffffff;
  text-align: left;
  font-size: 0.7rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
  z-index: 99;
  cursor: pointer;
}
.txt_9 {
  position: absolute;
  top: 83.4rem;
  left: 72.9rem;
  color: #ffffff;
  text-align: left;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.text_10 {
  position: absolute;
  top: 103.6rem;
  left: 74rem;
  color: #ffffff;
  text-align: right;
  font-size: 0.7rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
  z-index: 99;
  cursor: pointer;
}
.six_img img {
  width: 12rem;
  position: absolute;
  top: 105.6rem;
  left: 42.7rem;
  z-index: 99;
  cursor: pointer;
}
.txt_10 {
  position: absolute;
  top: 99rem;
  left: 68.9rem;
  color: #ffffff;
  text-align: right;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.txt_11 {
  position: absolute;
  top: 115.6rem;
  left: 41.6rem;
  color: #ffffff;
  text-align: right;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.text_11 {
  position: absolute;
  top: 117.6rem;
  left: 46.7rem;
  color: #ffffff;
  text-align: right;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.txt_12 {
  position: absolute;
  top: 126rem;
  left: 39.4rem;
  color: #ffffff;
  text-align: left;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.seven_img img {
  width: 10rem;
  position: absolute;
  top: 125.3rem;
  left: 53.7rem;
  z-index: 99;
  cursor: pointer;
}
.text_12 {
  position: absolute;
  top: 130.5rem;
  left: 39.5rem;
  color: #ffffff;
  text-align: left;
  font-size: 0.7rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}

.txt_14 {
  position: absolute;
  top: 148.2rem;
  left: 43.1rem;
  color: #ffffff;
  text-align: left;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.eight_img img {
  width: 16rem;
  position: absolute;
  top: 148.5rem;
  left: 23.2rem;
  z-index: 99;
  cursor: pointer;
}
.text_14 {
  position: absolute;
  top: 152.8rem;
  left: 43.2rem;
  color: #ffffff;
  text-align: left;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.sec_4 {
  position: absolute;
  top: 140.2rem;
  left: 72.1rem;
  color: #ffffff;
  text-align: left;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.text_15 {
  position: absolute;
  top: 144.4rem;
  left: 72.2rem;
  color: #ffffff;
  text-align: left;
  font-size: 0.7rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.nine_img img {
  width: 10rem;
  position: absolute;
  top: 133.5rem;
  left: 76.2rem;
  z-index: 99;
  cursor: pointer;
}
.sec_1 {
  position: absolute;
  top: 18rem;
  left: 70rem;
  text-align: right;
  color: #ffffff;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
/* 파란배경 끝 */
/* 연그린배경시작 */
.se_9 {
  position: absolute;
  left: 0.6rem;
  top: 1.2rem;
  z-index: 9;
  font-size: 1.7rem;
  font-family: "Noto Sans KR", cursive;
  color: #ed9a16;
  font-weight: 900;
}
.sec_9 {
  position: absolute;
  top: 330.6rem;
  left: 69.5rem;
  color: #ffffff;
  text-align: right;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}

.rightgreen {
  width: 100%;
  height: 160rem;
  background-color: #3da4d9;
}
.seven_circle {
  width: 6.81rem;
  height: 6.81rem;
  background-color: #ffffff;
  border-radius: 10rem;
  position: absolute;
  top: 171.4rem;
  left: 38rem;
}
.eight_circle {
  width: 5.93rem;
  height: 5.93rem;
  background-color: #ffffff;
  border-radius: 10rem;
  position: absolute;
  top: 207.4rem;
  left: 61rem;
}
.nine_circle {
  width: 4.87rem;
  height: 4.87rem;
  background-color: #ffffff;
  border-radius: 10rem;
  position: absolute;
  top: 228rem;
  left: 79.4rem;
}
.ten_circle {
  width: 5.93rem;
  height: 5.93rem;
  background-color: #ffffff;
  border-radius: 10rem;
  position: absolute;
  top: 263.7rem;
  left: 66.5rem;
}
.thirteen_mini_circle {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #ed9a16;
  border: 5px solid #ffffff;
  border-radius: 2rem;
  position: absolute;
  top: 159.9rem;
  left: 83.5rem;
  z-index: 9;
}
.fiveteen_mini_circle {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #ed9a16;
  border: 5px solid #ffffff;
  border-radius: 2rem;
  position: absolute;
  top: 180.4rem;
  left: 78.1rem;
  z-index: 9;
}
.sixteen_mini_circle {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #ed9a16;
  border: 5px solid #ffffff;
  border-radius: 2rem;
  position: absolute;
  top: 202rem;
  left: 37rem;
  z-index: 9;
}
.seventeen_mini_circle {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #ed9a16;
  border: 5px solid #ffffff;
  border-radius: 2rem;
  position: absolute;
  top: 230.9rem;
  left: 47.6rem;
  z-index: 9;
}
.eighteen_mini_circle {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #ed9a16;
  border: 5px solid #ffffff;
  border-radius: 2rem;
  position: absolute;
  top: 253.9rem;
  left: 33.9rem;
  z-index: 9;
}
.nineteen_mini_circle {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #ed9a16;
  border: 5px solid #ffffff;
  border-radius: 2rem;
  position: absolute;
  top: 247.3rem;
  left: 80.7rem;
  z-index: 9;
}
.twenteen_mini_circle {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #ed9a16;
  border: 5px solid #ffffff;
  border-radius: 2rem;
  position: absolute;
  top: 293.3rem;
  left: 34.4rem;
  z-index: 9;
}

.twelvetwo_mini_circle {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #ed9a16;
  border: 5px solid #ffffff;
  border-radius: 2rem;
  position: absolute;
  top: 303rem;
  left: 81.1rem;
  z-index: 9;
}
.txt_16 {
  position: absolute;
  top: 153rem;
  left: 74.6rem;
  color: #ffffff;
  text-align: right;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.text_16 {
  position: absolute;
  top: 157.2rem;
  left: 78.2rem;
  color: #ffffff;
  text-align: right;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
  z-index: 99;
  cursor: pointer;
}
.text_18 {
  position: absolute;
  top: 170.7rem;
  left: 44.8rem;
  color: #ffffff;
  text-align: left;
  font-size: 0.85rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
  z-index: 99;
  cursor: pointer;
}
.sec_5 {
  position: absolute;
  bottom: 7.4rem;
  right: -11.2rem;
  color: #ffffff;
  text-align: left;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.txt_19 {
  position: absolute;
  top: 178.7rem;
  left: 69.2rem;
  color: #ffffff;
  text-align: right;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.ten_img img {
  width: 7rem;
  position: absolute;
  top: 178.8rem;
  left: 60.7rem;
  z-index: 99;
  cursor: pointer;
}
.text_19 {
  position: absolute;
  top: 183rem;
  left: 68.2rem;
  color: #ffffff;
  text-align: right;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.txt_20 {
  position: absolute;
  top: 194.6rem;
  left: 39.4rem;
  color: #ffffff;
  text-align: left;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.text_20 {
  position: absolute;
  top: 199rem;
  left: 39.5rem;
  color: #ffffff;
  text-align: left;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
  z-index: 99;
  cursor: pointer;
}
.text_21 {
  position: absolute;
  top: 207.9rem;
  left: 67.2rem;
  color: #ffffff;
  text-align: left;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.eleven_img img {
  width: 10.5rem;
  position: absolute;
  top: 196.3rem;
  left: 66.6rem;
  z-index: 99;
  cursor: pointer;
}
.sec_6 {
  position: absolute;
  top: 205.7rem;
  left: 67.2rem;
  color: #ffffff;
  text-align: left;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.text_22 {
  position: absolute;
  top: 0.9rem;
  left: -7.5rem;
  color: #ffffff;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.tweleve_img img {
  width: 9.5rem;
  position: absolute;
  top: 216.1rem;
  left: 69.9rem;
  z-index: 99;
  cursor: pointer;
}
.sec_7 {
  position: absolute;
  top: 224.6rem;
  text-align: right;
  left: 67.7rem;
  color: #ffffff;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.txt_23 {
  position: absolute;
  top: 223.8rem;
  left: 39.1rem;
  color: #ffffff;
  text-align: right;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.text_23 {
  position: absolute;
  top: 228.2rem;
  left: 38rem;
  color: #ffffff;
  text-align: right;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
  z-index: 99;
  cursor: pointer;
}
.txt_24 {
  position: absolute;
  top: 247.5rem;
  left: 36.2rem;
  color: #ffffff;
  text-align: left;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.thirteen_img img {
  width: 11.5rem;
  position: absolute;
  top: 239.5rem;
  left: 36.2rem;
  z-index: 99;
  cursor: pointer;
}
.text_24 {
  position: absolute;
  top: 252rem;
  left: 36.2rem;
  color: #ffffff;
  text-align: left;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.txt_25 {
  position: absolute;
  top: 248.5rem;
  left: 71.5rem;
  color: #ffffff;
  text-align: right;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.text_25 {
  position: absolute;
  top: 252.9rem;
  left: 72.5rem;
  color: #ffffff;
  text-align: right;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
  z-index: 99;
  cursor: pointer;
}
.text_26 {
  position: absolute;
  top: 292.9rem;
  left: 37rem;
  color: #ffffff;
  text-align: left;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.txt_26 {
  position: absolute;
  top: 290.7rem;
  left: 36.9rem;
  color: #ffffff;
  text-align: left;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.fiveteen_img img {
  width: 13.5rem;
  position: absolute;
  top: 279rem;
  left: 36.9rem;
  z-index: 99;
  cursor: pointer;
}

.sec_8 {
  position: absolute;
  top: 269.3rem;
  left: 67.5rem;
  color: #ffffff;
  text-align: left;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.text_28 {
  position: absolute;
  bottom: -6.4rem;
  right: -3.4rem;
  color: #ffffff;
  text-align: left;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.fourteen_img img {
  width: 12.5rem;
  position: absolute;
  top: 276.5rem;
  left: 67.6rem;
  z-index: 99;
  cursor: pointer;
}
.txt_29 {
  position: absolute;
  top: 1.8rem;
  left: -8.5rem;
  color: #ffffff;
  text-align: right;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.text_29 {
  position: absolute;
  top: 6.3rem;
  left: -7rem;
  color: #ffffff;
  text-align: right;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.sixteen_img img {
  width: 11rem;
  position: absolute;
  top: 307.9rem;
  left: 66.9rem;
  z-index: 99;
  cursor: pointer;
}
/* 연그린배경 끝 */
/* 하늘배경시작 */
.sky {
  width: 100%;
  height: 160rem;
  background-color: #ed9a16;
}
.text_30 {
  position: absolute;
  top: 333rem;
  right: 39.7rem;
  color: #ffffff;
  text-align: right;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.seventeen_img img {
  width: 8.5rem;
  position: absolute;
  top: 336.1rem;
  left: 70.5rem;
}
.eleven_circle {
  width: 4.87rem;
  height: 4.87rem;
  background-color: #ffffff;
  border-radius: 10rem;
  position: absolute;
  top: 331.9rem;
  left: 80.2rem;
}
.txt_31 {
  position: absolute;
  top: 331.5rem;
  left: 38.4rem;
  color: #ffffff;
  text-align: right;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.text_31 {
  position: absolute;
  top: 336rem;
  right: 68.5rem;
  color: #ffffff;
  text-align: right;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.twelvethree_mini_circle {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #3da4d9;
  border: 5px solid #ffffff;
  border-radius: 2rem;
  position: absolute;
  top: 345rem;
  left: 46.3rem;
  z-index: 9;
}
.eighteen_img img {
  width: 6.5rem;
  position: absolute;
  top: 339rem;
  left: 43.9rem;
}
.txt_32 {
  position: absolute;
  top: 353rem;
  left: 36.8rem;
  color: #ffffff;
  text-align: right;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.text_32 {
  position: absolute;
  top: 355.2rem;
  right: 70.5rem;
  color: #ffffff;
  text-align: left;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.nineteen_img img {
  width: 12.5rem;
  position: absolute;
  top: 359.8rem;
  left: 38.9rem;
}
.twelvefour_mini_circle {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #3da4d9;
  border: 5px solid #ffffff;
  border-radius: 2rem;
  position: absolute;
  top: 357.6rem;
  left: 33rem;
  z-index: 9;
}
.txt_33 {
  position: absolute;
  top: 363rem;
  left: 73.2rem;
  color: #ffffff;
  text-align: right;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.text_33 {
  position: absolute;
  top: 367.5rem;
  right: 38.4rem;
  color: #ffffff;
  text-align: right;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.tweteen_img img {
  width: 8.5rem;
  position: absolute;
  top: 370.9rem;
  left: 72rem;
}
.twelvefive_mini_circle {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #3da4d9;
  border: 5px solid #ffffff;
  border-radius: 2rem;
  position: absolute;
  top: 360.8rem;
  left: 80rem;
  z-index: 9;
}
.txt_34 {
  position: absolute;
  top: 453.5rem;
  left: 59.8rem;
  color: #ffffff;
  text-align: right;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.text_34 {
  position: absolute;
  top: 470rem;
  right: 49.9rem;
  color: #ffffff;
  text-align: center;
  font-size: 0.7rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.twelve_circle {
  width: 4.87rem;
  height: 4.87rem;
  background-color: #ffffff;
  border-radius: 10rem;
  position: absolute;
  top: 382.4rem;
  left: 53rem;
}
.twelve_circle_text {
  position: absolute;
  left: 0.6rem;
  top: 1.2rem;
  z-index: 9;
  font-size: 1.7rem;
  font-family: "Noto Sans KR", cursive;
  color: #ed9a16;
  font-weight: 900;
}
.twelve_circle_text_se {
  position: absolute;
  top: 382.5rem;
  left: 58.9rem;
  color: #ffffff;
  text-align: left;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.twelve_circle_text_tr {
  position: absolute;
  top: 386.8rem;
  right: 48.9rem;
  color: #ffffff;
  text-align: right;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.tweteenone_img img {
  width: 10.5rem;
  position: absolute;
  top: 6rem;
  left: 5rem;
}
.tweeteentwo_img img {
  width: 8.5rem;
  position: absolute;
  top: 410.3rem;
  left: 53.4rem;
}
.tweeteenfour_img img {
  width: 11.5rem;
  position: absolute;
  top: 536rem;
  left: 48.4rem;
}
.tweeteenfive_img img {
  width: 11.5rem;
  position: absolute;
  top: 449rem;
  left: 45.2rem;
}
.twelevesix_minicircle {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #3da4d9;
  border: 5px solid #ffffff;
  border-radius: 2rem;
  position: absolute;
  top: 407rem;
  left: 34rem;
  z-index: 9;
}
.twelevesix_minicircle_text {
  position: absolute;
  top: 400.8rem;
  left: 36.8rem;
  color: #ffffff;
  text-align: left;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.twelevesix_minicircle_text2 {
  position: absolute;
  top: 405.3rem;
  right: 71.8rem;
  color: #ffffff;
  text-align: left;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
/* 하늘배경 끝 */
/* 연한파랑배경시작 */

.tweleveseven_minicircle {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #3da4d9;
  border: 5px solid #ffffff;
  border-radius: 2rem;
  position: absolute;
  top: 417rem;
  left: 81rem;
  z-index: 9;
}
.tweleveseven_minicircle_text {
  position: absolute;
  top: 410.8rem;
  left: 62.5rem;
  color: #ffffff;
  text-align: right;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.tweleveseven_minicircle_text2 {
  position: absolute;
  top: 415.3rem;
  right: 37.9rem;
  color: #ffffff;
  text-align: center;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.twelevenine_minicircle {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #3da4d9;
  border: 5px solid #ffffff;
  border-radius: 2rem;
  position: absolute;
  top: 436.2rem;
  left: 61.9rem;
  z-index: 9;
}
.twelevenine_minicircle_text {
  position: absolute;
  top: 432rem;
  left: 64.4rem;
  color: #ffffff;
  text-align: left;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.twelevenine_minicircle_text2 {
  position: absolute;
  top: 436.4rem;
  right: 43.5rem;
  color: #ffffff;
  text-align: left;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.thirteenone_minicircle {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #3da4d9;
  border: 5px solid #ffffff;
  border-radius: 2rem;
  position: absolute;
  top: 459rem;
  left: 55rem;
  z-index: 9;
}
.thirteenone_minicircle_text {
  position: absolute;
  top: 442.8rem;
  left: 38.2rem;
  color: #ffffff;
  text-align: right;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.thirteenone_minicircle_text2 {
  position: absolute;
  top: 447.4rem;
  right: 62.3rem;
  color: #ffffff;
  text-align: center;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.thirteenthree_minicircle {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #3da4d9;
  border: 5px solid #ffffff;
  border-radius: 2rem;
  position: absolute;
  top: 463.7rem;
  left: 33.2rem;
  z-index: 9;
}
.thirteenthree_minicircle_text {
  position: absolute;
  top: 462.3rem;
  left: 35.8rem;
  color: #ffffff;
  text-align: left;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.thirteenthree_minicircle_text2 {
  position: absolute;
  top: 466.9rem;
  right: 69.6rem;
  color: #ffffff;
  text-align: left;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.sixteen_circle {
  width: 4.87rem;
  height: 4.87rem;
  background-color: #ffffff;
  border-radius: 10rem;
  position: absolute;
  top: 422.8rem;
  left: 34.8rem;
}
.sixteen_circle_text {
  position: absolute;
  left: 0.6rem;
  top: 1.2rem;
  z-index: 9;
  font-size: 1.7rem;
  font-family: "Noto Sans KR", cursive;
  color: #a858b1;
  font-weight: 900;
}
.sixteen_circle_text_se {
  position: absolute;
  top: 422rem;
  left: 40rem;
  color: #ffffff;
  text-align: left;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.sixteen_circle_text_tr {
  position: absolute;
  top: 426.4rem;
  right: 70.3rem;
  color: #ffffff;
  text-align: right;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.seventeen_circle {
  width: 4.87rem;
  height: 4.87rem;
  background-color: #ffffff;
  border-radius: 10rem;
  position: absolute;
  top: 445.9rem;
  left: 79.8rem;
}
.seventeen_circle_text {
  position: absolute;
  left: 0.6rem;
  top: 1.2rem;
  z-index: 9;
  font-size: 1.7rem;
  font-family: "Noto Sans KR", cursive;
  color: #a858b1;
  font-weight: 900;
}
.seventeen_circle_text_se {
  position: absolute;
  top: 445rem;
  left: 67.8rem;
  color: #ffffff;
  text-align: right;
  font-size: 1.5rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
.seventeen_circle_text_tr {
  position: absolute;
  top: 449.5rem;
  right: 40rem;
  color: #ffffff;
  text-align: right;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", cursive;
  font-weight: 600;
}
/* 하늘배경 끝 */
.main_contents img {
  position: absolute;
  top: 12.5rem;
  left: 34rem;
  width: 52rem;
}
/* main끝 */

/*********************footer****************************/

.last {
  width: 100%;
  height: 191px;
  background-color: #ffffff;
  z-index: 9999;
  position: absolute;
  top: 471rem;
}
.footer_mn {
  width: 100%;

  margin-top: 20px;
}
.ft_text0 {
  float: left;
  margin-left: 38rem;
}
.ft_text0 img {
  width: 5rem;
}
.ft_text1 {
  width: 45%;
  font-size: 1rem;
  position: absolute;
  left: 40.5rem;
  top: 4rem;
  color: rgb(77, 77, 77);
}
.ft_text2 {
  float: left;
  width: 26%;
  font-size: 1rem;
  color: rgb(77, 77, 77);
  position: absolute;
  left: 45rem;
  top: 6.4rem;
}
.ft_text3 {
  width: 19%;
  float: left;
  font-size: 1rem;
  color: rgb(77, 77, 77);
  position: absolute;
  top: 9rem;
  left: 53rem;
}
.ft_textbox {
  clear: both;
  padding-top: 2rem;
  line-height: 2;
}
/*********************footer 끝****************************/
